.wrapper {
  width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-y: auto;
  z-index: 9;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 3% 10%;
}

.spider {
  position: absolute;
  width: 100px;
  z-index: -1;
}

.home-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  .home-logo {
    width: 130px;
    filter: drop-shadow(0 0 5px #fff7);
  }

  p {
    font-size: 1.2rem;
    color: #fff7;
    text-align: center;
    margin: 10px 0 0;
  }

  .spider {
    top: -5px;
    left: 0;
  }

  .spider._2 {
    top: unset;
    bottom: -95px;
    left: 90%;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.links > button:nth-child(3) {
  margin-left: 120px;
}

.home-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;

  h2 {
    inline-size: 100%;
  }
}

.witcher {
  height: 300px;
  object-fit: cover;
}

._content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1% 3% 2%;

  .spider {
    top: -5px;
    right: 50%;
  }

  .spider._2 {
    top: unset;
    bottom: -95px;
    left: 10%;
  }
}

.api-key {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 5px #fff7;
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;

    div {
      position: relative;
      color: #bf6bff;
      font-weight: 700;
      cursor: pointer;
    }
  }

  svg {
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: #fff;
    }
  }
}

.scene-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  textarea {
    height: 100px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 5px #fff7;
    }
  }
}

.token {
  display: flex;
  gap: 30px;
}

.art-type {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.art-type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;

  .art-type-item {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff7;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.active {
      color: #bf6bff;
      font-weight: 700;
      border: 1px solid #bf6bff;
    }
  }
}

.generate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff7;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:active {
    background-color: #bf6bff;
  }
}

.bats {
  position: absolute;
  top: -100%;
  left: 0%;
  width: 0px;
  height: 0px;
  filter: invert(100%) sepia(72%) saturate(58%) hue-rotate(101deg)
    brightness(111%) contrast(100%);

  animation: bats 1.5s linear backwards;
  transform: rotate(180deg);
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  .result-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff7;
    font-size: 1.2rem;
    font-weight: 500;

    img {
      width: calc(100% / 2);
      height: auto;
      object-fit: cover;
    }
  }

  .error {
    color: #f00;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  h3 {
    font-size: 1.2rem;
    color: #bf6bff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 6px;
    border: 1px dashed #bf6bff;
  }

  span {
    font-size: 1.2rem;
    color: #bf6bff;
  }
}

@keyframes bats {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.examples {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;

  h3 {
    font-size: 1.6rem;
    border-bottom: 1px solid #bf6bff;
    text-align: center;
  }
}

/* .grid-gallery
.grid-gallery-item */

.grid-gallery {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 sütun düzeni */
  grid-auto-rows: 300px; /* Her öğenin yüksekliği en az 300px olacak */
  gap: 10px;
  margin: 20px 0;
}

/* Zig-zag efekti için */
.grid-gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff7;
  font-size: 1.2rem;
  font-weight: 500;

  /* Öğelere farklı boyutlar vererek zig-zag oluştur */
  &:nth-child(1) {
    grid-column: span 2; /* İlk öğeyi geniş yap */
  }

  &:nth-child(2) {
    grid-row: span 2; /* İkinci öğeyi uzun yap (yüksekliği 600px olur) */
  }

  &:nth-child(3) {
    grid-column: span 2;
  }

  &:nth-child(4) {
    grid-row: span 2;
  }

  &:nth-child(5) {
    grid-column: span 2;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  &:hover img {
    transform: scale(1.1);
  }
}


/* .grid-gallery-item:hover img {
  transform: scale(1.1);
  filter: blur(0px);
  z-index: -1;
} */

.home-footer {
  color: #fff7;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
